
@{
    ViewBag.Title = "Về Chúng Tôi";
}
@using DoAnMonHoc.Models
    @{ 
        CommonInfo data = (CommonInfo)HttpContext.Current.Application["DungChung"];
    }
<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Về Chúng Tôi</h1>
                <p>
                    Với tầm nhìn dài hạn, chúng tôi tập trung đầu tư vào lĩnh vực Công nghệ thông tin. Trên tinh thần phát triển bền vững và chuyên nghiệp, .
                </p>
            </div>
            <div class="col-md-4">
                <img src=@Url.Content("~/Content/assets/img/about-hero.svg") alt="About Hero">
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->
<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Dịch Vụ</h1>
            <p>
                Độ hài lòng của khách hàng là thước đo lớn nhất cho chất lượng dịch vụ của chúng tôi
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">Giao Hàng Tận Nơi</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4 text-center">Hỗ Tư Vấn Và Đổi Trả Hai Chiều</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center">Ưu đãi cao</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center">Dịch vụ 24/7, luôn sẵn sàng phục vụ</h2>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Nhãn Hàng Của Chúng Tôi</h1>
                <p>
                    Chúng tôi đảm bảo chất lượng của các linh phụ kiện được chúng tôi bán ra là chính hãng và được kiểm duyệt chất lượng qua nhiều khâu nghiêm ngặt
                </p>

            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        @foreach (var item in data.Hang().Take(4))
                                        {
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src=@Url.Content("~/Content/images/"+@item.logo) alt="Brand Logo"></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <!--End First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        @foreach (var item in data.Hang().Take(4))
                                        {
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src=@Url.Content("~/Content/images/"+@item.logo) alt="Brand Logo"></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <!--End Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        @foreach (var item in data.Hang().Take(4))
                                        {
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src=@Url.Content("~/Content/images/"+@item.logo) alt="Brand Logo"></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brands-->
